{% extends "base.html" %}

{% block content %}
	<div>
		<a href="/user/logout" class="btn logout">Log Out</a>
	</div>
	<div class="card-wrapper">
        
		<div class="card">
    
			<h1 class="center">Transcription</h1>
            {% for ele in list %}
			<p class="center ab">{{ele.text}}</p>
			{% endfor %}
			

			
		</div>

		<div class="card">
			<h1 class="center">Summary</h1>
			<p>
				
			</p>
		</div>
	</div>
	<div class="card-wrapper wrap1">
        <div>
            <a href="/record/" class="btn transcript">New</a>
        </div>
	</div>
{% endblock %}
